worker_processes  1;

events {
  worker_connections  1024;
}

http {
  server {
    listen 80;
    server_name jobfinder2019.tk;
    access_log /var/log/jobfinder-frontend/nginx/access.log;
    error_log /var/log/jobfinder-frontend/nginx/error.log;

    return 301 https://$server_name$request_uri;
  }

  server {
    listen 443 ssl;
    server_name  jobfinder2019.tk;
    access_log /var/log/jobfinder-frontend/nginx/ssl-access.log;
    error_log /var/log/jobfinder-frontend/nginx/ssl-error.log;

    ssl_certificate /var/opt/jobfinder-frontend/ssl/fullchain.pem;
    ssl_certificate_key /var/opt/jobfinder-frontend/ssl/privkey.pem;
    ssl_session_timeout 5m;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_dhparam /var/opt/jobfinder-frontend/ssl/ssl-dhparams.pem;
    ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;

    location / {
      root   /usr/share/nginx/html;
      index  index.html index.htm;
      include /etc/nginx/mime.types;

      try_files $uri $uri/ /index.html;
    }

    location /api/ {
      proxy_set_header  HOST $host;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header  X-Real-IP $remote_addr;

      proxy_pass        https://$server_name:8443;
    }
  }
}
