<div class="container">
  <form #organization="ngForm" (ngSubmit)="onSubmit();">
    <div class="form-group">
      <label for="title">Organization name</label>
      <input type="text" class="form-control" id="title" name="title" ngModel #title="ngModel"
             required>
    </div>

    <div class="form-group">
      <label for="description">Organization description</label>
      <input type="text" class="form-control" id="description" name="description" ngModel #description="ngModel">
    </div>

    <button type="submit" class="btn btn-success">Create organization</button>
  </form>
</div>
