<div class="container">
  <form #publicationCreate="ngForm">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title"
             required
             [(ngModel)]="publication.title">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description"
             [(ngModel)]="publication.description">
    </div>

    <div class="form-group">
      <label for="content">Content</label>
      <input type="text" class="form-control" id="content"
             required
             [(ngModel)]="publication.content">
    </div>

    <div class="form-group">
      <label for="visible">Visible</label>
      <input type="checkbox" checked data-toggle="toggle" id="visible"
             required
             [(ngModel)]="publication.visible">
    </div>

    <button type="submit" class="btn btn-success" (click)="debug()">Create publication</button>
  </form>
</div>
