<div class="container">
  <div class="row mb-2">
    <div class="col-md-4" *ngFor="let person of persons">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../../assets/images/anonimous-person.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{person.firstName + ' ' + person.lastName}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button (click)="openProfile(person)" class="btn btn-primary">Open profile</button>
        </div>
      </div>
    </div>
  </div>
</div>
